@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

body {
  display: grid;
  place-items: center;
  height: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: -webkit-fill-available;
  font-family: "Birthstone", cursive;
  font-weight: 400;
  font-style: normal;
margin: 20px;
background :linear-gradient(to bottom ,#f5caa4, #e8b996, #c88b65, #a57449);
}

h1 {
    color: #5b2e12;
    text-align: center;
    font-size: 8.5vw;
}

p {
    color: #7b4422;
    text-align: center;
    font-size: 2.4vw;
}


icon-button ,button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px; 
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #4286f400;
  font-family: Arial Narrow;
  color:#7b4422;
  font-size: 1.7vw ;
}

button:active .icon-button:hover {
  transform: scale(0.98);
}

#mode {
margin-left: auto;
margin-right:2.2%;
}
body.darkmode  {
  background :linear-gradient(to bottom ,#5f3922, #4e341d,#342314 );
  h1 {
    color:#e9b78b;
}
  p,a {
    color:#cc986b;
}
  a:hover {
    color:#9f6943;
}
 icon-button ,button{
  color:#cc986b;
}
}


.icon-button:hover, button:hover {
  background-color: #00000025;
  transition: background-color 0.5s;
  cursor: pointer;
}

a {
  color:#7b4422;            
  text-decoration: none; 
}
a:hover {
  color:#402515;            
  text-decoration: none; 
}
#contact{
    p{
    font-family: Arial Narrow;
    font-size: 1vw ;
    text-align: left;
}
min-width: 87vw;
}

 @media (max-width: 800px){
  body {
  margin: 5px;
  height: 200%;
  min-height: 100dvh;
  font-size: 160%;
  }} 
