
@import "tailwindcss";


@layer base {
  button {
    transform: translateZ(0);
    will-change: transform;
    @apply rounded-2xl cursor-pointer bg-[#b6b29c45] md:bg-[#8c79322e] p-[4px] md:p-[7px] text-[14px] md:text-[20px] text-center hover:scale-105 hover:translate-z-0 transition-all;
  }

  a:hover {
    opacity: 0.70;
  }
}