@import "tailwindcss";

@theme{
--color-vio:#5A3F61;
}

@layer base{
body {
  margin: 0;
  min-height: 100vh;
  background: #f3F3CD;
  color:#EEDDB2;
  
}
.card {
  min-width: 250px;
  flex: 0 0 auto;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #fffff0;
  text-align: center;
  @apply round;
}
body.darkmode {
  background: #1B1C20;
  color: inherit;
}

body.darkmode p, body.darkmode h1, body.darkmode h2, body.darkmode div{
  color: #E4B9F0;
}
body.darkmode #mira {
text: #B59470
color: #CE97DD;
}
body.darkmode #toolbar {
  background: #2B2E34;
}
body.darkmode button{
  @apply  bg-[#09090a4a]
}
body.darkmode .card {
  @apply bg-[#2B2E34] text-white;
}
#mira{
  @apply text-[8.4vw] text-[#6d4b76];
}

  html{
    font-family:"DM Serif Text",serif;
    scroll-behavior: smooth;
  }
  div{
    @apply py-[1vw] px-[0.45vw] text-vio font-bold text-[1.4vw] z-10;
  }
  
  h1{
  @apply text-vio font-bold text-[2.5vw] ;
  }
  p{
      @apply px-[0.6vw] text-vio font-bold text-[1.4vw] text-shadow-xs;
  }
  li{
      @apply flex place-items-center-safe;
  }
  button{
    @apply  round  cursor-pointer bg-[#8c79322e] p-[0.5vw] text-center hover:scale-105 transition-all;
  }
  #toolbar{
    @apply bg-[#fffff0];
  }
  #contact{
    @apply text-[0.6vw] opacity-85;
  }
  }


@utility round{
  @apply rounded-2xl;
} 
@utility icon{
  @apply w-[1.7vw] h-[1.7vw] place-self-start
}
@utility img{
  @apply w-[56vw] h-[42vw] place-self-start ;
}



.scrollable-cards-section {
  padding: 2rem 0;
  text-align: center;
}

.cards-container {
  width: 70vw;
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem 0;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.cards-container::-webkit-scrollbar {
  display: none;
}



.card img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.card h2 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.card p {
  font-size: 0.95rem;
  color: #555;
}
