@import "tailwindcss";

@theme {
  --color-vio: #5A3F61;
}

@layer base {
  body {
    margin: 0;
    min-height: 100vh;
    color: #EEDDB2;
    @apply bg-[#f6f6e9] md:bg-[#f3F3CD];
  }

  .card {
    min-width: 250px;
    flex: 0 0 auto;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fffff0;
    text-align: center;
    transition: transform 0.3s ease; /* Smooth transition for transform */
    transform-origin: center;
    transform: translateZ(0);
  /* Optional: hint to browser that it will be transformed */
    will-change: transform;
    @apply round;
  }
  .card:hover{
    transform: scale(1.1) translateZ(0);
  }
  #mira {
    @apply text-[118px] text-[#6d4b76]; /* 8.4vw → 8.4×14 ≈ 118px */
  }

  html {
    font-family: "DM Serif Text", serif;
    scroll-behavior: smooth;
  }

  div {
    @apply py-[14px] px-[6px] text-vio font-bold z-10; /* 1vw→14px, 0.45vw→6px, 1.4vw→20px */
  }

  h1 {
    @apply text-vio font-bold text-[35px]; /* 2.5vw → 35px */
  }

  p {
    @apply  text-vio font-bold text-[20px] text-shadow-xs; /* 0.6vw→8px, 1.4vw→20px */
  }

  li {
    @apply flex place-items-center-safe py-1.5;
  }

  button {
    transform: translateZ(0);
    will-change: transform;
    @apply round cursor-pointer bg-[#8c79322e] p-[7px] text-[20] text-center hover:scale-105 hover:translate-z-0 transition-all; /* 0.5vw → 7px */
  }

  a:hover{
    opacity:0.70;
  }
  #toolbar {
    @apply bg-[#fffff0] flex-col w-[60vw] md:w-[280px] m-0 px-[1px] pt-[70px] h-full round text-center;
  }

  #contact {
    @apply text-[8px] opacity-85; /* 0.6vw → 8px */
  }
}



body.darkmode {
  background: #1B1C20;
  color: inherit;

  p, h1, h2, div {
    color: #E4B9F0;
  }

  #mira {
    color: #CE97DD;
  }

  #toolbar {
    background: #2B2E34;
  }

  button {
    @apply bg-[#09090a4a];
  }

  .card {
    @apply bg-[#2B2E34] text-white;
  }
}




@utility round {
  @apply rounded-2xl;
}

@utility icon {
  @apply w-[23px] h-[23px] m-1 place-self-start; /* 1.7vw → 24px */
}

@utility img {
  @apply w-[780px] h-[590px] place-self-start; /* 56vw → 784px → 780px, 42vw → 588px → 590px */
}

.scrollable-cards-section {
  padding: 2rem 0;
  text-align: center;
}

.cards-container {
  width: 70vw; /* Or use max-width for responsiveness */
  max-width: 1200px;
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem 0;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.cards-container::-webkit-scrollbar {
  display: none;
}


.card h2 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.card p {
  font-size: 0.95rem;
  color: #555;
}
